-r backend/requirements.txt

requests
beautifulsoup4
langchain
langchain-text-splitters
langchain-community
langchain-google-genai
unstructured
sentence-transformers
tiktoken
streamlit
transformers
pypdf
ipykernel
python-dotenv
