alembic
fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
python-multipart
sqlalchemy
psycopg[binary]
pgvector
langchain
langgraph
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-openai
openai
azure-search-documents
pypdf
unstructured[pdf]
requests
beautifulsoup4
matplotlib
python-docx
reportlab
mlflow
prometheus-client

pytest
